// modules: variables

// colors
$green: #00AE6A;
$gray: #756A66;
$dark-gray: #534540;
$white: #ffffff;

// screen size
$mobile: "screen and (max-width: 674px)";

// images
$iphone: url("../img/iphone6_white.png");
